.card {
  display: flex;

  cursor: pointer;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  background-color: #656c6d;
}

.cardContent {
  color: #00e5ff;
  background-color: #656c6d;
  display: flex;
  flex-direction: column;
  flex: 1;
  /* padding-left: 10px!important;
  padding-right: 8px!important; */
}

.contactTypo {
  font-size: 0.95rem !important;
}

.icon {
  color: #00e5ff;
  margin-top: 5px;
  margin-bottom: 5px;
}

@media screen and (width< 413px) {
  .profilePic {
    height: 65vh;
    object-fit: contain !important;
  }
}

@media screen and (width> 413px) and (width< 750px) {
  .profilePic {
    height: 75vh;
    object-fit: contain !important;
  }
}

@media screen and (width> 750px) and (width< 1200px) {
  .card {
    height: 380px;
    width: 540px;
  }
}

@media screen and (width> 1200px) {
  .card {
    height: 400px;
    width: 560px;
  }
}
