.card {
  display: flex;

  cursor: pointer;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  background-color: #656c6d;
}

.cardContent {
  color: #00e5ff;
  background-color: #656c6d;
  width: 100%;
  /* display: flex;
  flex-direction: column;
  flex: 1; */
  /* padding-left: 10px!important;
  padding-right: 8px!important; */
}

.contactTypo {
  font-size: 0.95rem !important;
}

.intro{
  width: 100%;

}
.name{
  font-weight: bold!important;
}

.icon {
  color: #00e5ff;
  margin-top: 5px;
  margin-bottom: 5px;
}

@media screen and (width< 413px) {
  .name{
    font-size: 1.5rem!important;
  }
  .profilePic {
    height: 65vh;
    object-fit: contain !important;
  }
}

@media screen and (width> 413px) and (width< 750px) {
  .name{
    font-size: 1.9rem!important;
  }
  .profilePic {
    height: 75vh;
    object-fit: contain !important;
  }
}

@media screen and (width> 750px) and (width< 1200px) {
  .name{
    font-size: 2rem!important;
  }
  .profilePic {
    height: 75vh;
    object-fit: contain !important;
  }
  /* .card {
    height: 400px;
    width: '100%';
  } */
}

@media screen and (width> 1200px) {
  .name{
    font-size: 2.5rem!important;
  }
  .card {
    height: 420px;
    width: 30vw;
  }
}
